%nav.navbar.navbar-expand-lg.navbar-dark.fixed-top{id: 'mainNav'}
  .container
    %a.navbar-brand.js-scroll-trigger{:href => "#page-top"}
      %img{:alt => "", src: asset_path('navbar-logo.svg')}/
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      Menu
      %i.fas.fa-bars.ml-1
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.text-uppercase.ml-auto
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#services"} Services
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#portfolio"} Portfolio
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#about"} About
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#team"} Team
        %li.nav-item
          %a.nav-link.js-scroll-trigger{:href => "#contact"} Contact