/ Clients
.py-5
  .container
    .row
      .col-md-3.col-sm-6.my-3
        %a{:href => "#!"}
          %img.img-fluid.d-block.mx-auto{:alt => "", src: asset_url('logos/envato.jpg')}/
      .col-md-3.col-sm-6.my-3
        %a{:href => "#!"}
          %img.img-fluid.d-block.mx-auto{:alt => "", src: asset_url('logos/designmodo.jpg')}/
      .col-md-3.col-sm-6.my-3
        %a{:href => "#!"}
          %img.img-fluid.d-block.mx-auto{:alt => "", src: asset_url('logos/themeforest.jpg')}/
      .col-md-3.col-sm-6.my-3
        %a{:href => "#!"}
          %img.img-fluid.d-block.mx-auto{:alt => "", src: asset_url('logos/creative-market.jpg')}/
